# This is a basic workflow to help you get started with Actions

name: Terraform Deploy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    env:
      ARM_SUBSCRIPTION_ID: '9fc3b716-9d72-1337-882b-fa30e181b7f5'
      ARM_TENANT_ID: '0e3d417e-d321-4353-92d0-406535d8b62b'
      ARM_CLIENT_ID: 'dd2c43af-fa90-1988-b052-d40ead0c1ae4'
      ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
      AZURE_STORAGE: 'tfstate'
      
    steps:
      - uses: actions/checkout@v2
      
      - name: Azure Login
        uses: Azure/login@v1
        with:
         creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Build Terraform
        run: chmod +x ./tfstate.sh && ./tfstate.sh ${{ env.AZURE_STORAGE }}

      - name: HashiCorp - Setup Terraform
        uses: hashicorp/setup-terraform@v1.2.1
          
      - name: Terraform init
        run: terraform init -backend-config="storage_account_name=${{ env.AZURE_STORAGE }}"
        
      - name: Terraform plan
        run: terraform plan -out=tfplan
        
      - name: Terraform apply
        run: terraform apply tfplan
        
        
